src/main/resources/gate/application-resources/ANNIE/resources/schema/sentence-unclear.xml

<?xml version="1.0" ?>
<schema xmlns="http://www.w3.org/2000/10/XMLSchema">
	<!-- XSchema definition for defect "sentence unclear"-->
	<element name="sentence_unclear">
		<complexType>
			<attribute name="sub-category">
				<simpleType>
					<restriction base="string">
						<enumeration value="deadline/time interval unclear"/>
						<enumeration value="recipient (office, authority, etc.) unclear"/>
						<enumeration value="actor unclear"/>
						<enumeration value="condition of action unclear"/>
						<enumeration value="syntax ambiguous"/>
						<enumeration value="syntax too complex"/>
						<enumeration value="multiple instructions/rules per sentence"/>
						<enumeration value="instruction/rule unclear"/>
						<enumeration value="other unclear sentence"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="other"/>
		</complexType>
	</element>
</schema>